# FastAPI Configuration
APP_NAME=PetriNetAnalyzer
APP_ENV=development
APP_DEBUG=True
HOST=127.0.0.1
PORT=8000

# File Path Configuration
UPLOAD_FOLDER=./uploads
OUTPUT_FOLDER=./results

# Logging
LOG_LEVEL=INFO
